/* DEFINING THE PRIMARY GRID LAYOUT */

html, body {
	padding: 0;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		"a b c d"
		"e f f g";
}

#a, #b, #c, #d, #e, #f, #g {
	display: flex;
	flex-direction: column;
}

#a { /* avatar box */
	background-color: #ea5050;
	grid-area: a;
}

#b { /* basic information */
	background-color: #e3ac45;
	grid-area: b;
}

#c { /* match algorithm */
	background-color: #e8e255;
	grid-area: c;
}

#d { /* call-to-action buttons */
	background-color: #50afe2;
	grid-area: d;
}

#e { /* Users/Teams */
	background-color: #b567f6;
	grid-area: e;
}


#f { /* primary content */
	background-color: #58d848;
	grid-area: f;
}


#g { /* skills sidebar */
	background-color: #2b9b16;
	grid-area: g;
}

.sub {
	background: rgba(255,255,255,0.2);
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.sub img {

}

.team img {
	border-radius: 0%;
}

.mate img {
	border-radius: 50%;
}